python-jobspy==1.1.75
alembic==1.14.1
APScheduler==3.11.0
Flask==3.1.0
Flask_Cors==5.0.0
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
fontTools==4.55.3
SQLAlchemy==2.0.37
typing_extensions==4.12.2
pymysql==1.1.1