<mat-card
  *ngIf="job"
  class="job-card rounded shadow"
  [id]="'card-' + job.id"
  (click)="toggleCardState(); openCard($event)"
  [@cardState]="isExpanded ? 'expanded' : 'default'"
>
  <mat-card-header class="fs-4 position-relative rounded-top dialog-header">
    <mat-card-title class="d-flex align-items-center">
      <img
        *ngIf="job.company_logo"
        [src]="job.company_logo"
        alt="Remote Job"
        class="company-logo img-thumbnail ms-2 rounded"
      />
      <span class="job-title-header">{{ job.title }}</span>
      <i class="fa-solid fa-at atseparator"></i>
      <span class="job-title-header">{{ job.company }}</span>
      <img
        *ngIf="job.is_remote"
        src="work-from-home.png"
        alt="Remote"
        class="remote-icon ms-2"
      />
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="description-container">
      <p class="description" [class.expanded]="isExpanded">
        <markdown>{{ job.description }}</markdown>
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="dialog-footer d-flex justify-content-between">
      <div class="footer-left">
        <span>
          <a [href]="job.job_url" class="job-site-link" target="_blank">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            {{ job.site }}</a
          >
        </span>
        <span *ngIf="job.date_posted">
          {{ job.date_posted | date : "dd-MM-yyyy" }}
        </span>
      </div>
      <div>
        <span class="badge" [ngClass]="getBadgeClass()">
          <i [ngClass]="getStatusIcon()" class="me-1"></i>
          {{ getStatusText() }}
        </span>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
