<nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand" href="#">Job Portal</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Jobs Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Jobs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/jobs?status=all">All</a></li>
              <li><a class="dropdown-item" href="/jobs?status=new">New</a></li>
              <li>
                <a class="dropdown-item" href="/jobs?status=viewed">Viewed</a>
              </li>
              <li>
                <a class="dropdown-item" href="/jobs?status=starred">Starred</a>
              </li>
              <li>
                <a class="dropdown-item" href="/jobs?status=hidden">Hidden</a>
              </li>
            </ul>
          </li>
          <!-- Queries Button -->
          <li class="nav-item">
            <a class="nav-link" href="/queries">Queries</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
