.badge {
  display: inline-block;
  background-color: #ffd616;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 0.2em 0.6em;
  border-radius: 1rem; 
  margin-left: 8px;
  vertical-align: middle;
}
