:root {
  --primary-color: #FFD616;
  --secondary-color: #93c942;
  --ternary-color: #2ab06d;
  --fourth-color: #008f83;
  --fifth-color: #006b7b;
  --sixth-color: #2f4858;
  --background-color: #FFFBEA;
  --text-color: #333333;
  --hover-color: #FFC107;
  --mat-select-panel-background-color: #333333;
  --mat-sys-surface-container: #2f4858;
  --mdc-dialog-container-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.indeed {
    background-color: var(--secondary-color);
}

.google {
    background-color: var(--ternary-color);
}

.linkedin {
    background-color: var(--fourth-color);
}

@font-face {
  font-family: 'megrim';
  src: url('assets/fonts/megrim-regular.ttf');
}
.custom-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  animation: none;
  backdrop-filter: blur(5px);
}