<div class="filter-container">
  <mat-form-field appearance="fill" class="filter-field">
    <mat-label class="status-label">Status</mat-label>
    <mat-select
      [formControl]="jobStatuses"
      multiple
      (selectionChange)="onStatusChange()"
    >
      @for (status of jobStatusList; track status) {
      <mat-option [value]="status.label">
        <span class="badge" [ngClass]="status.style">
          <i [ngClass]="status.icon" class="me-1"></i>
          {{ status.label }}
        </span>
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
