

.filter-container {
  display: flex;
  justify-content: flex-end; /* Align to the far right */
  padding: 1rem;
  background-color: #212529; /* Dark page background */
}

.filter-field {
  width: 300px;
}

.mat-form-field {
  color: #ffd616; /* Accent color for text */
}

.mat-select {
  color: #ffd616; /* Text color for options */
  border-radius: 6px; /* Slight rounding for the dropdown */
}

.mat-option {
  padding: 8px 16px; /* Better spacing for dropdown options */
}

.mat-option:hover {
  background-color: rgba(255, 214, 22, 0.1); /* Subtle hover effect */
}

.mat-mdc-form-field {
  margin: 10px;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  background-color: #212529;
  padding: 10px;
  border-radius: 8px;
}

.filter-field {
  width: 300px;
  background: #2c3036;
  border-radius: 8px;
  color: white;
}

.mat-form-field {
  color: white;
}

.badge {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 8px;
  line-height: 1;
  margin-right: 8px;
}

.badge:hover {
  font-weight: 900;
  font-size: 15px;
}

.badge i {
  font-size: 14px;
}

.badge-new {
  background-color: #28a745;
  color: white;
}

.badge-hidden {
  background-color: #6c757d;
  color: white;
}

.badge-viewed {
  background-color: #073229;
  color: white;
}

.badge-starred {
  background-color: #d09e14;
  color: black;
}

.mat-mdc-select-panel {
  background-color: #2c3036;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  background: #2c3036;
}

.status-label {
  font-weight: bolder;
  font-size: larger;
}